@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat+Alternates:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --primaryColor : #f3b54a;
    --secondaryColor : #584848;
    --anotherColor : #6e7889;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #181818;
    font-weight: 500;
}
h2 {
    font-size: 46px;
    line-height: 54px;
    color: #181818;
}
h4 {
    font-size: 20px;
    color: #181818;
}
h6 {
    font-size: 12px;
    font-weight: 700;
}
p {
    font-size: 16px;
    color: #5a5b46;
    margin: 15px 0 20px;
}
.section-p1 {
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}
button.normal {
    font-size: 14px;
    font-weight: 700;
    border: 0;
    outline: 0;
    color: #181818;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 30px;
    transition: .2s ease;
}
html,
body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 10px 60px 10px 40px;
    background: #e2e2e2f7;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); 
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 34px;
    font-family: 'Fredericka the Great', cursive;
    color: var(--anotherColor);
    transition: .2s ease;
}
.logo span {
    font-family: 'Fredericka the Great', cursive;
    color: var(--primaryColor);

}
.logo:hover {
    color: #4e5561;
}
#header #navbar {
    display: flex;
    align-items: center;
    justify-content: center;   
}
#header #navbar li {
    list-style: none;
    padding: 0 20px ;
}
#header #navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #181818;
    transition: ease .3s;
    position: relative;
    overflow: hidden;

}
#header #navbar li:hover a,
#header #navbar li a.active {
    color : var(--primaryColor);
}
#header #navbar li a::after {
    content: '';
    width: 40%;
    height: 2.5px;
    background: var(--primaryColor);
    position: absolute;
    bottom: -4px;
    left: 0;
    transform: translateX(28px);
    opacity: 0;
    transition: .5s ease;
    border-radius: 2px;
}
#header #navbar li:hover a::after,
#header #navbar li a.active::after {
    transform: translateX(0px);
    opacity: 1;
}
#mobile {
    display: none;
    align-items: center;
    cursor: pointer;
}
#mobile span {
    color: #181818;
}
#close {
    display: none ;
}

#hero {
    background: linear-gradient(90deg , #c7c7c7e7 , transparent, transparent) ,url(./img/bg.jpg) center bottom 10% ;
    background-size: cover;
    width: 100%;
    height: 90vh;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4 {
    padding-bottom: 15px ;
}
#hero h1 {
    color: var(--secondaryColor);
}
#hero p {
    color: #181818;
}
#hero button {
    background: url('./img/bg-button.png') center center;
    background-size: cover;
    border: 0;
    background-color: transparent;
    color: #181818;
    padding: 14px 80px 14px 65px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transform: translateY(0px);
    transition: .3s ease transform;
}
#hero button:hover {
    transform: translateY(-5px);
    color: #feffe8;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
width: 180px;
   text-align: center ; 
   padding-bottom: 25px ;
   box-shadow: 20px 20px 43px rgba(0,0,0,.03);
   border: 1px solid #f0f0f0;
   border-radius: 4px;
   margin: 15px 0;
   transition: .2s ease;
}
#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(0,0,0,.1);
}
#feature .fe-box .fe-img img {
    width: 100%;
    height:150px;
    margin-bottom: 10px;
    object-fit: cover;
}
#feature .fe-box .fe-img {
    position: relative;
    margin: 25px 0 ;
}
#feature .fe-box .fe-img::after {
    content: '';
    width: 100%;
    height: calc(100% + 25px);
    position: absolute;
    top: -25px;
    left: 0;
    background-image: linear-gradient( #ffce9171 , transparent);
}


#feature .fe-box h6 {
    display: inline-block;
    padding: 6px 8px;
    border-radius: 4px;
    color: #fff;
    background: #ffce91;
}
#feature .fe-box:nth-child(2) h6 {
    background: #a2c1e4;
}
#feature .fe-box:nth-child(3) h6 {
    background: #d9a2e4;
}
#feature .fe-box:nth-child(4) h6 {
    background: #e4a2a2;
}
#feature .fe-box:nth-child(5) h6 {
    background: #ff7676;
}
#feature .fe-box:nth-child(6) h6 {
    background: #a2e4b6;
}

#product1 {
    text-align: center;
}
#product1 .pro-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}
#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    box-shadow: 20px 20px 43px rgba(0,0,0,.03);
    border: 1px solid #e0e0e0e0 ;
    border-radius: 20px;
    cursor: pointer;
    margin: 15px 0;
    transition: .2s ease;
    position: relative;
    min-height: 400px;
    height: 440px;
}
#product1 .pro:hover {
    box-shadow: 20px 20px 43px rgba(0,0,0,.08);
    transform: translateY(-2px);
}
#product1 .pro img {
    width: 100%;
    border-radius: 10px;
    height: 280px;
    object-fit: cover;
}
#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des .brind2 {
    color: #797979 ;
}
#product1 .pro .des h5 {
    padding-top: 7px;
    color: #181818;
    font-size: 14px;
}
#product1 .pro .des .star span {
    color :var(--primaryColor) ;
}
#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 18px;
    font-weight: 700;
    color: var(--secondaryColor);
}
#product1 .pro .cart {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    border: 1px solid var(--secondaryColor);
    position: absolute;
    bottom: 3%;
    right: 5%;
    transform: translate(-5% , -3%);
}
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:linear-gradient(180deg ,  transparent ,  #55442bbe ,80% , #55442b65) , url(./img/flowers.jpg);
    background-size: cover;
    width: 100%;
    height: 40vh;
}
#banner h4 {
    font-size: 16px;
    color: white;
}
#banner h2 {
    font-size: 30px;
    padding: 10px 0;
    font-weight: 800;
    text-transform: capitalize;
    color: white
}
#banner h2 span {
    color: var(--primaryColor);
}
#banner button:hover {
    color: #fff;
    background-color: var(--primaryColor);
}
#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background:linear-gradient(-120deg , #f0f0f097 , transparent , #4b4b4bf7) , url(./img/banner-bg.jpg) center top 25%;
    background-size: cover;
    min-width: 580px;
    height: 50vh;
    padding: 30px;
    margin: 10px auto;
}
#sm-banner .banner-box h4 {
    font-size: 20px;
    color: #ee5d6c;
    text-transform: uppercase;
    font-weight: 400;
}
#sm-banner .banner-box h2 {
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 600;
}
#sm-banner .banner-box span {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 15px;
    color: #393939;
}
#sm-banner .banner-box button {
    padding: 10px 24px;
    background-color: transparent;
    border: 1px solid #393939;
}
#sm-banner .banner-box:hover button {
    background-color: #fff89191;
    border: 1px solid transparent;
    color: #ee5d6c;
}
#sm-banner .banner-box-2 {
    background:linear-gradient(60deg , #f0f0f097 , transparent , #4b4b4b77) , url(./img/banner-bg2.jpg) center top 25%;
    background-size: cover;
}
#banner3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px auto;
}
#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background:linear-gradient(120deg , #0f0f0ff7 , transparent , #0f0f0ff7 ) , url(./img/safran.jpg) center;
    background-size: cover;
    width: 30%;
    min-width: none;
    height: 40vh;
    padding: 20px;
    margin: 10px ;
}
#banner3 .banner-box h2 {
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
}
#banner3 .banner-box h3 {
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
}
#banner3 .banner-box-2{
    background:linear-gradient(60deg , #0f0f0ff7 , transparent , #0f0f0ff7 ) , url(./img/Miel.jpg) center;
    background-size: cover; 
}
#banner3 .banner-box-3{
    background:linear-gradient(120deg , #0f0f0ff7 , transparent , #0f0f0ff7 ) , url(./img/Argan.jpg) center ;
    background-size: cover; 
}
#newsletter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: url(./img/bg-newlatters.jpg) center no-repeat;
    background-size: cover;
}
#newsletter h4 {
    font-size: 33px;
    color: #f0f0f0;
    font-weight: 400;
}
#newsletter p {
    font-size: 15px;
    color: #f0f0f0;
    font-weight: 600;
}
#newsletter p span {
    color: var(--primaryColor);
    font-weight: 700;
    background: linear-gradient(-90deg , #0f0f0fee , #18181845);
    padding-right: 8px;
}
#newsletter .form {
    display: flex;
    width: 40%;
}
#newsletter input {
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: transparent;
    border-radius: 4px 0 0 4px ;
    outline: none;
}
#newsletter input:focus {
    box-shadow: 5px 5px 15px #181818ae;
}
#newsletter button {
    background-color: var(--primaryColor);
    color: #fff;
    white-space: nowrap;
    border-radius: 0 4px 4px 0;
}
footer {
    background: #c7c7c747;

}
footer .footer-1 {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
footer .col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
footer .col .pay {
    width: 200px;
}
footer .col a:not(.logo) {
    text-decoration: none;
    color: #181818ae;
    font-size: 13px;
    margin-bottom: 8px;
    transition: ease .2s;
}
footer .col a:not(.logo):hover {
    text-decoration: underline;
    color: var(--primaryColor);

}

footer .row img {
    width: 100px;
    border-radius: 8px;
}
footer .logo {
    font-size: 30px;
}
footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}
footer p {
    font-size: 13px;
    padding: 0 0 8px ;
}
footer ul {
    display: flex;
    align-items: center;
    margin-top: 4px;
}
footer ul li {
    margin: 0 4px;
    list-style: none;
}
footer .copyright {
    text-align: center;
}
footer .copyright p {
    color: #888888ae;
    font-size: 12px;
}
/* shop page */
#page-header {
    background: linear-gradient(180deg, #39393989 , transparent , #eeeeee47) , url(./img/safran-bg.jpg) center center  ;
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page-header p {
    background-color: var(--secondaryColor);
    color: #fff;
    padding: 6px 4px;
    margin-top: 4px;
    font-size: 20px;
}
#page-header h2 {
    color: var(--primaryColor);
}
#pagination {
    text-align: center;
}
#pagination a {
    text-decoration: none;
    padding:12px 20px ;
    border-radius: 4px;
    font-weight: 600;
    background-color: var(--primaryColor);
    color: #fff;
    position: relative;
    margin: auto 4px;
}
#pagination a span {
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
/* single product  */
#prodetails {
    display: flex;
    margin-top: 20px;
}
#main-img {
    height: 460px;
    width: 100%;
    object-fit: cover;
}

#prodetails .single-pro-img {
    width: 40%;
    margin-right: 40px;
}
.sm-img-group {
    display: flex;
    justify-content: space-between;
}
.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}
.small-img-col img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}
#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0 ;
}
#prodetails .single-pro-details h2 {
    font-size: 26px  ;
}
#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    outline: 0;
    border: 1px solid #393939;
}
#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    outline: none;
    border: 1px solid #393939;
    border-radius: 4px;
}
#prodetails .single-pro-details button {
    height: 47px;
    background-color: #ce4993;
    color: #fff;
}
#prodetails .single-pro-details span {
    line-height: 25px;
}

/* Blog */


#page-header.blog-header{
    background: linear-gradient(0deg, #393939 , transparent ) , url(./img/blog/bg.jpg) center center;
    background-size: cover;
    justify-content: center;
}
#blog {
    padding: 150px 150px 0;
}
#blog .blog-box {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
#blog .blog-box:not(:last-child) {
    margin-bottom: 80px;
}
#blog .blog-box .blog-img {
    width: 50%;
    margin-right: 40px;
    height: 400px;
    position: relative;
}
#blog .blog-box .blog-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg , #412e0d92 , transparent);
}
#blog .blog-box .blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#blog .blog-box .blog-details {
    width: 50%;
}
#blog .blog-box .blog-details a {
    text-decoration: none;
    color: #181818;
    font-size: 11px;
    font-weight: 700;
    position: relative;
    transition: .2s ease;
}
#blog .blog-box .blog-details a::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -40%;
    transform: translate(40% , -50%);
    width: 40%;
    height: 1px;
    background-color: #181818;
    transition: .2s ease;
}
#blog .blog-box .blog-details a:hover {
    color: var(--primaryColor);
}
#blog .blog-box .blog-details a:hover::after{
    background-color: var(--primaryColor);
}
/* About page */
#about-head{
    display: flex;
    align-items: center;
}

#page-header.about-header {
    background: linear-gradient(0deg, #000000 , #000000aa ,transparent ) , url(./img/about/bg.jpg) center top 30%;
    background-size: cover;
}
#about-head img {
    width: 50%;
    height: auto;
}
#about-head div {
    height: auto;
    text-align: center;
}
/* contact page */
#page-header.contact-header {
    background: linear-gradient(0deg, #000000 ,transparent , #000000aa ) , url(./img/contact/bg1.jpg) center ;
    background-size: cover;
}
#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details {
    width: 50%;
}
#contact-details .details span,
#form-details form span {
    font-size: 13px;
    text-transform: uppercase;
}
#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details div li {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px 0;
}
#contact-details .details div li span {
    font-size: 16px;
    padding-right: 22px;
}
#contact-details .details div li p {
    font-size: 16px;
    margin: 0;
}
#contact-details .map {
    width: 55%;
    height: 400px;
}
#contact-details .map iframe {
    width: 100%;
    height: 100%;
}
#form-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    padding: 80px;
    border: 1px solid #64646464;
    border-radius: 6px;
}
#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
#form-details form input,textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #64646464;
}
#form-details form button{
    background-color: var(--primaryColor);
    color: #fff;
}
#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;

}
#form-details .people img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 50%;
}
#form-details .people div p {
    margin: 0;
    font-size: 14px;
    line-height: 25px;
}
#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
/* cart page */
#page-header.cart-header {
    background: linear-gradient(0deg, #00000044  ,transparent , #000000aa ) , url(./img/cart-bg1.jpg) center ;
    background-size: cover;
}
#cart table {
    border-collapse: collapse;
    table-layout: fixed;
    white-space: inherit;
}
#cart table img {
    width: 70px;
}
#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}
#cart table td input {
    width: 70px;
    padding: 10px 5px 10px 15px;
    font-size: 16px;
}
#cart table thead {
    border: 1px solid #bbbbbb;
    border-left: none;
    border-right: none;
}
#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px 0;
    font-size: 14px;
}
#cart table tbody td,
#cart table tbody td span {
    padding: 8px 0;
    font-size: 15px;
}
#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}
#coupon input {
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}
#coupon button,input{
    padding: 12px 20px;
    font-size: 13px;
}
#coupon button,
#subtotal button {
    background-color: var(--primaryColor);
    color: #fff;
}
#subtotal, #coupon{
    width: 48%;
    margin: 0 10px;
    padding: 30px;
}
#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td {
    width: 50%;
    border: 1px solid #bbbbbb;
    padding: 10px;
    font-size: 13px;
}





@media (max-width:822px){
    .section-p1 {
        padding: 40px 40px;
    }
    #header #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        right: -300px;
        top: 0;
        height: 100vh;
        width: 300px;
        background-color: #c7c7c7;
        box-shadow: 0 40px 60px rgba(0, 0, 0, .1);
        padding: 80px 0 0 10px;
        transition: .3s ease-in;
    }
    #header #navbar.active {
        right: 0px;
    }
    #header #navbar li {
        margin-bottom: 25px;
    }
    #header #navbar li a {
        font-size: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile span {
        color: #181818;
        font-size: 30px;
        padding: 0 12px;
    }
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left : 30px;
        color: #181818;
        font-size: 30px;
        text-decoration: none;
    }
    #lg-bag {
        display: none;
    }
    #hero {
        background: linear-gradient(90deg , #c7c7c7e7 , transparent, transparent) ,url(./img/bg.jpg) center bottom 10% ;
        background-size: cover;
        height: 70vh;
    }
    #feature {
        justify-content: center;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro-container .pro {
        margin: 15px;
    }
    #banner {
        height: 20vh;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
        margin: 0 auto;
    }
    #banner3 .banner-box {
    width: 28%;
    overflow: hidden;
    }
    #newsletter .form {
        width: 70%;
    }
    #blog {
        padding: 100px 100px 0;
    }
    #page-header {
        height: 30vh;
    }
    #page-header p {
        font-size: 14px;
    }
    #blog .blog-box .blog-img {
        height: 200px;

    }
    /* contact */
    #form-details {
        flex-direction: column;
        padding: 40px;
    }
    #form-details form {
        width: 100%;
        margin-bottom: 40px;
    }
    #cart-add {
        flex-direction: column;
        justify-content: center;
    }
    #cart {
        overflow-x: scroll;
    }
    #subtotal, #coupon {
        width: 100%;
        text-align: center;
    }
}
@media (max-width : 540px){
    #header {
        padding: 10px 30px;
    }
    #header .logo {
        font-size: 30px;
    }
    #hero {
        padding: 0 20px;
        background-position: right 35.5% bottom 37%;
    }
    h2 {
        font-size: 32px;
    }
    h1 {
        font-size: 38px;
    }
    #feature {
        justify-content: space-between;
    }
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px;
    }

    #product1 .pro {
        width: 100%;
        min-width: 250px;
        min-height: 400px;
    }
    #banner {
        height: 40vh;
    }
    #sm-banner .banner-box {
        height: 40vh;
    }
    #sm-banner .banner-box-2 {
        margin-top: 20px;
    }
    #banner3 {
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
        margin-top: 10px;
    }
    #newsletter {
        padding: 40px 20px;
    }
    #newsletter .form {
        width: 100%;
    }
    #newsletter h4 {
        font-size: 28px;
    }
    footer .col {
        margin-bottom: 20px;
    }
    footer .copyright {
        text-align: start;
    }

    /* single product */

    #prodetails {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
    }
    #prodetails .single-pro-details {
        width: 100%;
    }
    #prodetails .single-pro-img {
        width: 100%;
        margin-right: 0;
    }
    /* blog page */
    #page-header p {
        color: #fff;
        margin-top: 4px;
        text-align: center;
    }
    #page-header.blog-header {
        height: 20vh;
    }
    #blog {
        padding: 100px 50px 0 ;
    }
    #blog .blog-box {
        flex-direction: column;
        align-items: flex-start;
    }
    #blog .blog-box .blog-img {
        width: 100%;
        margin-right: 0px;
    
    }
    #blog .blog-box .blog-details {
        width: 100%;
        padding-top: 20px;
    }
    /* about page */
    #about-head {
        flex-direction: column;
    }
    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }
    #about-app .video {
        width: 100%;
    }
    /* contact */
    #contact-details {
        flex-direction: column;
    }
    #contact-details .details {
        width: 100%;
    }
    #contact-details .map {
        width: 100%;
    }
    #subtotal, #coupon {
        padding: 30px 0;
    }
}
